Dedicated_Server.txt
bedrock_server
bedrock_server_how_to.html
definitions
development_behavior_packs
development_resource_packs
development_skin_packs
install.sh
libCrypto.so
minecraft-server-activity.log
minecraft-server.log
minecraftbe
minecraftpe
old-whitelist.json
premium_cache
release-notes.txt
snap
structures
treatments
world_templates

#### The keepers :) 
# whitelist.json
# worlds
# server.properties
# behavior_packs
# resource_packs
# permissions.json
# valid_known_packs.json
####
